@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">

    <div class="col-md-12">
        <img src="~/images/seafood-banner.jpg" class="img-responsive">
        <h1>Miro e krasiv</h1>
    </div>
</div>