@{
    ViewData["Title"] = "Home Page";
}
@using OnlineFishShop.Common.Resources

<environment include="Development">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</environment>

<div class="container-fluid">

    <div class="row" id="home-image">
        <h2 class="centered">Само на<br /> един клик разстояние <br /> от теб!</h2>
    </div>
    <h1 class="page-subtitle">@OnlineFishShopResources.lblTheSilvexShop</h1>
    <h2 class="page-title">@Html.Raw(@OnlineFishShopResources.lblHomeDescription)</h2>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 input-position text-center">
        <img src="~/images/satisfaction-guarantee.png" class="img-thumbnail" id="satisfaction-img">
    </div>
</div>