/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    background-color: #e1dddb;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/*Layout abdff1*/

.row#header-image {
    background-image: url(/images/silvex_site.png);
    background-repeat: no-repeat;
    background-size:cover;
    padding: 0 0 14%;
}

.navbar-brand {
    color: #abdff1 !important;
}
.bg-company-blue {
    background-color: #0c4a60;
}
nav .navbar-nav li a {
    color: #abdff1 !important;
}
.navbar-toggle {
    background-color: #abdff1;
}
.navbar-toggle .icon-bar {
    background-color: black;
}
body {
    padding-top: 350px;
    min-height:600px;
}
footer{
    width:100%;
}
footer p {
   color: #abdff1;

}
@media screen and (max-width:1200px) {
    .nav-button {
        font-size: 18px;
        margin-right: 10px;
    }
    .page-subtitle-left {
        color: #ef6c33;
        text-align: center;
        font-weight: bold;
        font-size: 16px;
    }
    #contact-img {
        width: 100px; /* You can set the dimensions to whatever you want */
        height: 100px;
        object-fit: cover;
        margin-bottom: 1.5%
    }
    

}
@media screen and (min-width:1200px) {
    .nav-button {
        font-size: 18px;
        margin-right: 100px;
    }
    .page-subtitle-left {
        color: #ef6c33;
        text-align: left;
        font-weight: bold;
        font-size: 16px;
    }
    #contact-img {
        width: 100px; /* You can set the dimensions to whatever you want */
        height: 100px;
        object-fit: cover;
        margin-bottom: 5%
    }
}

.container-manage{
    margin-top:60px;
}

.page-title {
    color: #0c4a60;
    text-align:center;
    font-weight:bold;
}
.page-subtitle {
    color: #ef6c33;
    text-align: center;
    font-weight: bold;
}



.page-tеxt {
    font-size: 20px;
    text-align: center;
    color: #0c4a60;
}

#payment-img {
    margin-top:5%;
    width: 250px; /* You can set the dimensions to whatever you want */
    height: 200px;
    object-fit: cover;
}

.row-images{
    align-content:center
}

#submit-btn {
    background-color: #ef6c33 !important;
    border:none;
}
#border-input {
    border:solid;
    border-color: #ef6c33 !important;
}

#product-img {
    width: 100px; /* You can set the dimensions to whatever you want */
    height: 100px;
    object-fit: cover;
}