/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    background-color: #e1dddb;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/*Layout abdff1*/

.row > a > .img-responsive {
    width: 100%;
    height: 300px;
    display: block;
}

.navbar-brand{
    color: #abdff1 !important;
}
.bg-company-blue {
    background-color: #0c4a60;
}
nav .navbar-nav li a {
    color: #abdff1 !important;
}
.navbar-toggle {
    background-color: #abdff1;
}
.navbar-toggle .icon-bar {
    background-color: black;
}
body {
    padding-top: 350px;
    min-height:600px;
}
footer{
    width:100%;
}
footer p {
   color: #abdff1;

}
@media screen and (max-width:1200px) {
    .nav-button {
        font-size: 18px;
        margin-right: 10px;
    }
}
@media screen and (min-width:1200px) {
    .nav-button {
        font-size: 18px;
        margin-right: 100px;
    }
}

.container-manage{
    margin-top:80px;
}
